@import "./base.css";

.description{
  text-align: left;
  margin-left: 200px;
  font-size: 20px;
  padding: 20px;
  margin-right: 200px;
}
.description2{
  text-align: left;
  margin-left: 200px;
  font-size: 20px;
  padding: 20px;
  margin-right: 200px;
}

main{
  text-align: center;
  margin-top:20px;
  font-size: 50px;
  font-weight: 900;
  padding: 10px;
  font-family: 'Trebuchet MS', sans-serif;
}
.AT{
  margin-left: 30px;
}
header{
  height: 100px;
}
.bar{
  color: aqua;
}
.navbar.navbar-dark.bg-dark{

    background-color: #1b2ded!important;
    position: fixed;
}
.navbar{

  height: 100px;
  width: 100%;
 
}



/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start start;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
} */
